<div class = "map-trips">
  <div style="width: 100%; height: 608px;"
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
    data-map-trip-value="<%= @trip.to_json %>"
  >
  </div>
</div>

<div id ="instructions"></div>

<div class = "footer-info text-center">
  <div class = "btn">
    <%= link_to 'NAVIGATE', trip_path(@trip), class: "foottext" %>
  </div>
</div>
