<%= simple_form_for @trip do |f| %>
       <%= f.input :start_location, :label => "Start Point" %>
       <%= f.input :end_location, :label =>  "End Point"%>
   </div>
     <div class = "footer-info text-center">
       <div class = "btn">
         <div class = "btn">
         <%= f.submit class: "btn btn-link"%>
<% end %>
