<div class = "header">
  <ul class = "navbar">
    <div class = "back-button">
      <a></a>
    </div>

    <div class = "logo">
      <%= image_tag "", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
    </div>

    <div class= "avatar-hex">

    </div>
  </ul>
</div>
