

.footer-info {

  width: 100%;
  max-width: 600px;
  height: 3.5rem;
  text-decoration: none;
  background-color: $light-yellow;
}

.footer-container {
  width: 100%;
  background-color: white;
  position: fixed;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;

}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  //padding-block-start: 0px;
  //width: 100%;
}
