.homepage {
  margin-top: 250px;
}

.main-container {
  background-color: #E5E9F7;
  min-height: 100vh;

  max-width: 600px;
  margin: 0 auto;

}

.header {

  width: 450px;
  height: 70px;
  background-color: #E5E9F7;

}
