.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: "Josephin-sans", sans-serif;
}

#instructions {
  position: absolute;
  bottom: 120px;
  right: 10px;
  width: 65px;
  background-color: hsla(225, 60%, 22%, 0.5);
  font-family: "Josephin-sans";
  p {
    color: white;
    font-weight: lighter;
  }
}
