.map-popup-window {
  max-width:400px;
  max-height:170px;
}

.mapboxgl-popup {

  .mapboxgl-popup-anchor-top .mapboxgl-popup-tip,
  .mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip,
  .mapboxgl-popup-anchor-center .mapboxgl-popup-tip,
  .mapboxgl-popup-anchor-left .mapboxgl-popup-tip,
  .mapboxgl-popup-anchor-right .mapboxgl-popup-tip,
  .mapboxgl-popup-anchor-bottom-right .mapboxgl-popup-tip,
  .mapboxgl-popup-anchor-bottom-left .mapboxgl-popup-tip,
  .mapboxgl-popup-anchor-top-right .mapboxgl-popup-tip,
  .mapboxgl-popup-anchor-top-left .mapboxgl-popup-tip{
    // display:none !important;
  }

}

.mapboxgl-popup-content {
  position: relative;
  text-align: center;
  font-family: "Josephin-sans", sans-serif;
  width: 414px;
  left: 0px;
}

#instructions {
  position: absolute;
  bottom: 120px;
  right: 10px;
  width: 65px;
  background-color: hsla(225, 60%, 22%, 0.5);
  font-family: "Josephin-sans";
  p {
    color: white;
    font-weight: lighter;
  }
}

.popup-title{
  font-size: 12px!important;
}

.popup-address {
  font-size: 10px;
}

// .map-popup-modal {
//   z-index: 3;
// }

.map-btn-popup{
  display: flex;
  a{
    width:100%;
  }
}
